Repository HROKA/food-delivery, pull requests merged in 2020-09, with the labels that each got.

#26 created server and install modules
  .eslintrc.js
  .vscode/settings.json
  package-lock.json
  package.json
  server/app.js
  server/index.js
  server/router/index.js
Labels: BackEnd, awaiting review

#27 added schema
  .gitignore
  package-lock.json
  package.json
  server/database/config/build.js
  server/database/config/connection.js
  server/database/config/data.sql
  server/database/config/fackeData.sql
  server/database/config/index.js
  server/database/fakeData/index.js
  server/index.js
Labels: BackEnd

#32 delete product by id [Admin]
  server/controllers/routes/products.js
  server/database/config/fackeData.sql
  server/database/queries/products.js
  server/router/admin.js
Labels: BackEnd, PostgreSQL, admin, awaiting review

#33 get order by id
  server/controllers/routes/orders.js
  server/database/queries/orders.js
  server/database/queries/products.js
  server/router/admin.js
  server/router/clients.js
Labels: BackEnd, admin, awaiting review, database

#34 create order
  server/controllers/routes/orders.js
  server/database/config/build.js
  server/database/config/data.sql
  server/database/config/fackeData.sql
  server/database/config/fakeData.sql
  server/database/queries/orders.js
  server/router/clients.js
Labels: BackEnd, Done, client, database

#35 get client orders
  server/controllers/routes/orders.js
  server/database/queries/orders.js
  server/router/clients.js
Labels: BackEnd, client, database

#36 delete client order
  server/controllers/routes/orders.js
  server/database/queries/details.js
  server/database/queries/orders.js
  server/router/clients.js
Labels: BackEnd, Done, client, database

#37 Add new products [ADMIN]
  server/app.js
  server/controllers/routes/products.js
  server/database/queries/products.js
  server/router/admin.js
  server/router/index.js
Labels: BackEnd, Done, PostgreSQL, admin, awaiting review

#39 get client data
  server/controllers/routes/orders.js
  server/controllers/routes/profile.js
  server/database/queries/order_details.js
  server/database/queries/orders.js
  server/database/queries/profile.js
  server/router/clients.js
Labels: BackEnd, awaiting review, client, database

#40 Update client Data [client]
  server/controllers/routes/profile.js
  server/database/queries/profile.js
  server/router/admin.js
  server/router/clients.js
Labels: BackEnd, PostgreSQL, awaiting review

#42 Get all clients data
  server/controllers/routes/profile.js
  server/database/queries/profile.js
  server/router/admin.js
Labels: BackEnd, Done, admin, database

#44 LOGIN ADMIN [dashboard]
  server/controllers/auth/.gitignore
  server/controllers/auth/adminSignIn.js
  server/database/config/fakeData.sql
  server/router/auth.js
  server/router/index.js
Labels: BackEnd, admin, awaiting review

#47 delete reactnative and create react client and create first client
  .vscode/settings.json
  client/.env
  client/.eslintrc.js
  client/.expo-shared/assets.json
  client/.gitignore
  client/App.js
  client/app.json
  client/assets/favicon.png
  client/assets/icon.png
  client/assets/splash.png
  client/babel.config.js
  client/index.js
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/src/App.css
  client/src/App.js
  client/src/index.css
  client/src/index.js
  package.json
Labels: awaiting review

#46 added signup client
  server/controllers/auth/signup.js
  server/controllers/routes/profile.js
  server/database/queries/auth.js
  server/database/queries/profile.js
  server/router/auth.js
Labels: BackEnd, awaiting review, client, database

#48 added login with mobile number
  server/controllers/auth/loginWithMobileNumber.js
  server/database/config/data.sql
  server/database/queries/auth.js
  server/router/auth.js
Labels: Done, client, database

#49 Log in [client]
  server/controllers/auth/clientSignIn.js
  server/controllers/auth/loginWithMobileNumber.js
  server/router/auth.js
Labels: awaiting review, database

#50 create login function by Facebook
  server/controllers/auth/clientSignInByFacebook.js
  server/database/config/data.sql
  server/database/config/fakeData.sql
  server/database/queries/auth.js
  server/router/auth.js
Labels: client, database

#51 Fix signup
  server/controllers/auth/signup.js
  server/controllers/auth/signupByMobile.js
  server/database/queries/auth.js
  server/router/auth.js
Labels: BackEnd, awaiting review, database

#53 add middlewares admin and client
  server/controllers/auth/clientSignIn.js
  server/controllers/auth/clientSignInByFacebook.js
  server/controllers/auth/signupByMobile.js
  server/controllers/middleware/index.js
  server/controllers/middlewares/.gitignore
  server/controllers/routes/orders.js
  server/controllers/routes/profile.js
  server/database/queries/auth.js
  server/router/clients.js
  server/router/index.js
Labels: BackEnd, admin, awaiting review, client, database

#57 back end update favorite
  server/controllers/routes/profile.js
  server/database/queries/profile.js
  server/router/clients.js
Labels: BackEnd, awaiting review, client, database
